.header_main{
    width: 1200px;
    height: 64px;
    background-color: #1B1B1B;
    border: 2px solid #262626;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_list {
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.header_list_item {
    margin: 0 200px 0 200px;
    font-size: 20px;
}

.header_list > :first-child {
    color:#7821E6; 
    font-weight: bold;
}

.header_list_item:hover {
    color:#7821E6; 
    font-weight: bold;
    text-shadow: -2px 2px 27px #7821E6;
}

.Main {
    background-color: #1B1B1B;
    border: 2px solid #262626;
    border-radius: 15px;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.Main_top {
    padding: 20px 40px 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h2 {
    font-size: 24px;
    font-weight: normal;
    color: #C0C0C0;
    margin: 0;
}

.available {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    font-size: 13px;
    border-radius: 48px;
    border: 1px solid #262626;
    height: 30px;
    box-shadow: 0 0 27px #21e63839;
}

.Main_content {
    padding: 0 40px 40px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Main_text {
    max-width: 290px;
    font-size: 20px;
    text-align: left;
}

.hireBtn {
    font-size: 16;
    font-weight: bold;
    background-color: #7821E6;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    box-shadow: -2px 2px 27px #7821E6;
}

.hireBtn:hover {
    cursor: pointer;
    scale: 0.95;
}

.emailBtn {
    display: flex;
    color: #C0C0C0;
    background-color: #161616;
    border: 1px solid #262626;
    border-radius: 5px;
    height: 40px;
    align-items: center;
}

.emailBtn:hover {
    cursor: pointer;
    scale: 0.95;
}

.img {
    height: 260px;
    transform: scaleX(-1);
}

.Content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.First {
    width: 590px;
    text-align: left;
}

.First > * {
    background-color: #1B1B1B;
    border: 2px solid #262626;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 20px;
}

.Second {
    width: 590px;
}

.Second > * {
    border-radius: 15px;
    margin-bottom: 20px;
}

.Content_text {
    font-size: 18px;
    margin:0;
}

.skillsWrapper_Main {
    background: linear-gradient(11deg,#262626 72%, rgb(118, 33, 230) 100%);
    border-radius: 15px;
    padding: 1px;
    margin-bottom: 20px;
}

.skillsWrapper {
    border-radius: 15px;
    padding: 1px;
    margin-bottom: 20px;
}

.skillsWrapper:nth-of-type(odd) {
    background: linear-gradient(11deg,#262626 72%, rgb(118, 33, 230) 100%);
}

.skillsWrapper:nth-of-type(even) {
    background: linear-gradient(191deg,#262626 72%, rgb(118, 33, 230) 100%);
}

.skills_Main {
    background: #1B1B1B;
    background: linear-gradient(11deg,rgba(27, 27, 27, 1) 80%, rgba(118, 33, 230, 0.018) 100%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
    margin: 0;
}
  
.skills {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
    margin: 0;
    font-weight: normal;
}

.skills:nth-of-type(odd) {
    background: linear-gradient(11deg,rgba(27, 27, 27, 1) 80%, rgba(118, 33, 230, 0.018) 100%);
}

.skills:nth-of-type(even) {
    background: linear-gradient(191deg,rgba(27, 27, 27, 1) 80%, rgba(118, 33, 230, 0.018) 100%);
}

.skill_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill_list > * {
    margin-bottom: 20px;
    width: 283px;
}

.skill_list > *:nth-child(odd) {
    margin-right: 20px;
}

.softsSkills {
    background-color: #1B1B1B;
    border: 2px solid #262626;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 20px;
}

.Footer {
    background: linear-gradient(191deg,#262626 72%, rgb(118, 33, 230) 100%);
    border-radius: 15px;
    padding: 1px;
    margin-bottom: 20px;
    height: 120px;
    margin-top: 0;
}

.Footer_container {
    background: #1B1B1B;
    background: linear-gradient(191deg,rgba(27, 27, 27, 1) 80%, rgba(118, 33, 230, 0.018) 100%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px 0 42px 0;
}

.socials {
    display: flex;
    flex-direction: row;
}

.socials > *:nth-child(even) {
    margin-left: 20px;
    margin-right: 20px;
}

.socials_list {
    font-size: 20px;
    cursor: pointer;
}

.socials_list:hover {
    color: #7821E6;
    scale: 0.99;
}

.contact_link {
    text-decoration: none;
}

.contact_link:visited {
    color: white;
}

.contact_link:hover {
    color:#7821E6;
}